<% layout('layout') -%>

<h1><%= title %></h1>
<p>Welcome to <%= title %>. A multi-player quiz game for all the family, office or friends!</p>
<ol>
    <li>
        <a href="/question">Question</a>
    </li>
</ol>
