<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/head.ejs %>
    </head>
 
    <body>
        <header>
            <% include templates/header.ejs %>
        </header>
 
        <!-- Insert Body here -->
        <div class="container-fluid">
 
            <%- body %>
 
        </div>
 
        <footer>
            <% include templates/footer.ejs %>
        </footer> 

    </body>
</html>
