<% layout('layout') -%>

<h1>GameId</h1>
<h2 class='game-id'><%= gameId %></h2>
<p><%= gameServerAddress %>:<%= gameServerPort %></p>

<a href='/game/join/<%= gameId%>' target='_blank'>Join Game</a>
